@page "/"
@page "/search/{searchText}/{page:int}"
@page "/{categoryId:int}"
@inject IProductService ProductService

<PageTitle>Fashion Times</PageTitle>

@if (SearchText == null && CategoryId == 0)
{
    <div class="container-fluid p-0">
        <img src="./fashion-times-banner.png" class="w-100 mb-5" />
    </div>
    <FeaturedProducts />
}
else
{
    <ProductList />
}

@code {
    // [Parameter]
    // public string? CategoryUrl { get; set; } = null;

    [Parameter]
    public int CategoryId { get; set; } = 0;

    [Parameter]
    public string? SearchText { get; set; } = null;

    [Parameter]
    public int Page { get; set; } = 1;

    protected override async Task OnParametersSetAsync()
    {
        if (SearchText != null)
        {
            await ProductService.SearchProducts(SearchText, Page);
        }
        else
        {
            await ProductService.GetProducts(CategoryId);
        }
    }
}